
<ion-content>
  <div class="img-container">
    <img src="https://res.cloudinary.com/dklwdws0d/image/upload/v1684938263/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash_qpkz3m.jpg" class="logo" alt="Resim Açıklaması">
    <ion-card class="overlay-card">
      <h1>Kayıt Ol</h1>
      <div class="div">
        <ion-item class="input-item">
          <ion-input label="Ad" labelPlacement="floating" ></ion-input>
        </ion-item> 
        <ion-item class="input-item">
          <ion-input label="Soyad" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input label="TC Kimlik Numarası" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item  class="input-item">
          <ion-input label="Doğum Tarihi" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input label="Cinsiyet" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input label="Şifre" labelPlacement="floating" type="password"></ion-input>
        </ion-item>
      </div>
      <ion-button class="buton1" (click)="giris()">Kayıt Ol</ion-button>
    </ion-card>
  </div>
</ion-content>