<ion-content class="ion-padding">
<h1>Başlamadan Önce!!</h1>

<ion-card >
    <h2 style="color: red; text-align: center; ">Dikkat!</h2>
    <div style="border-bottom:2px solid rgb(92, 90, 90);width:99%;"></div>
  <ion-card-content>
    <p>
      Lütfen bu uygulamayı şiddetli kanama,kaza,ciddi vb. durumlarda kullanmayınız.
      En yakınınızda bulunan hastanelerin acil servislerinden giriş yapınız.
      Bu uygulama sarı ve yeşil kodlu hastların şikayetleri içindir.
      Triyaj alanlarında oluşan kalabalığı önlemek adına yapılmıştır.
    </p>
    <ion-button class="buton" (click)="sorular()">Başla</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
