<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Geri"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">Nasıl Kullanılır</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img  src="https://res.cloudinary.com/dklwdws0d/image/upload/v1683849996/Ekran_g%C3%B6r%C3%BCnt%C3%BCs%C3%BC_2023-05-12_022857_qrzcn0.png" />
    <ion-card-header>
      <ion-card-title>Giriş seçenekleri</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Başlangıçta iki seçenek mevcuttur kullanıcılar eğer uygulamayı ilk defa kullanıyorlar ise bir kereliğe mahsus kimlik bilgilerini doldurması lazımdır.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img  src="https://res.cloudinary.com/dklwdws0d/image/upload/v1683978254/Ekran_g%C3%B6r%C3%BCnt%C3%BCs%C3%BC_2023-05-13_144347_o1berd.png" />
    <ion-card-header>
      <ion-card-title>Kayıt Ol </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Kullanıcılar bilgileri doldurmak zorundadırlar.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img  src="https://res.cloudinary.com/dklwdws0d/image/upload/v1683978049/Ekran_g%C3%B6r%C3%BCnt%C3%BCs%C3%BC_2023-05-12_032057_noquqw.png" />
    <ion-card-header>
      <ion-card-title>Giriş Yap</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Uygulamaya yeni kayıt olan veya daha öncesinde kaydı bulunan kullanıcıların giriş yapması gerekmektedir.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img  src="https://res.cloudinary.com/dklwdws0d/image/upload/v1683978049/Ekran_g%C3%B6r%C3%BCnt%C3%BCs%C3%BC_2023-05-13_143941_ikx5yl.png" />
    <ion-card-header>
      <ion-card-title>Ana Sayfa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Kullanıcılar hızlı ve zahmetsiz bir şekilde randevu alabilirler.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img  src="https://res.cloudinary.com/dklwdws0d/image/upload/v1683978049/Ekran_g%C3%B6r%C3%BCnt%C3%BCs%C3%BC_2023-05-13_143956_j9d6vp.png" />
    <ion-card-header>
      <ion-card-title>Ana Sayfa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Kullanıcılar geçmiş randevularını görüntüleyebilirler.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img  src="https://res.cloudinary.com/dklwdws0d/image/upload/v1683978049/Ekran_g%C3%B6r%C3%BCnt%C3%BCs%C3%BC_2023-05-13_143956_j9d6vp.png" />
    <ion-card-header>
      <ion-card-title>Randevular</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Kullanıcılar geçmiş randevularını görüntüleyebilirler.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img  src="https://res.cloudinary.com/dklwdws0d/image/upload/v1683978050/Ekran_g%C3%B6r%C3%BCnt%C3%BCs%C3%BC_2023-05-13_144018_bvxa8x.png" />
    <ion-card-header>
      <ion-card-title>Ayarlar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Ayarlar sayfası ile kullanıcılar istedikleri değişiklikleri yapabilirler.
    </ion-card-content>
  </ion-card>
</ion-content>
