.img{
    width: 19%;
    margin-top: 2%;
    margin-left: 0%;
  }
  h4{
    margin-left: 4%;
    color: black;
  }
  .toolbar1 {
    opacity: 0.8;
  }
  .custom-toolbar {
    --background: #afd9ea;
  }
  ion-card{
    width: 96%;
    margin-left: 3%;
  }

