.custom-title {
    width: auto;
    white-space: normal;
    padding-left: 26%;
  }
  
.list{
    margin-top: 10%;
}
.button2{
    margin-left: 30%;
   margin-top: 10%;
}

.avatar1{
    top: 4%; 
 }
