<ion-content>
  <div class="img-container">
    <img src="https://res.cloudinary.com/dklwdws0d/image/upload/v1684938263/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash_qpkz3m.jpg" class="logo" alt="Resim Açıklaması">
    <ion-card class="overlay-card">
      <h1>Giriş Yap</h1>
      <div class="div">
      <ion-item class="input-item">
        <ion-input label="Kullanıcı Adı" labelPlacement="floating" ></ion-input>
      </ion-item> 
      <ion-item class="input-item">
        <ion-input label="Şifre" labelPlacement="floating" type="password"></ion-input>
      </ion-item>
      </div>
      <ion-button class="buton1"  (click)="AAAA()">Giriş yap</ion-button>
    </ion-card>
  </div>
</ion-content>




  

    <!-- <img src="https://cdn-icons-png.flaticon.com/512/3063/3063176.png" class="logo"> -->
    
<!--     
       <ion-item>
        <ion-input label="Kullanıcı Adı" labelPlacement="floating" ></ion-input>
      </ion-item> 
      <ion-item>
        <ion-input label="Şifre" labelPlacement="floating" type="password"></ion-input>
      </ion-item>
      <ion-button class="buton1" (click)="AAAA()">Giriş yap</ion-button>

    -->
    
   
